<div class="stnHdr" *ngIf="suscErrFlag==='SC'">{{data?.leagueCaption}}
  <span class="subHdr">Choose a team to view player details and fixtures.</span>
</div>
<div class="row elements-button-div stnDiv" *ngIf="suscErrFlag==='SC'">
  <div class="col-lg-4 col-md-4 button-style stn">
    <table class="table table-hover stn-table">
      <thead>
        <tr>
          <th></th>
          <th>Team</th>
          <th>Rank</th>
          <th>Games Played</th>
          <th>Points</th>
          <th>Goals</th>
          <th>Goals Against</th>
          <th>Goals Difference</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="team(li)" class="team" *ngFor="let li of standingsList; let i=index">
          <td>
            <img class="flag" src="{{li.crestURI}}" />
          </td>
          <td>{{li.team}}</td>
          <td>{{li.rank}}</td>
          <td>{{li.playedGames}}</td>
          <td>{{li.points}}</td>
          <td>{{li.goals}}</td>
          <td>{{li.goalsAgainst}}</td>
          <td>{{li.goalDifference}}</td>
        </tr>
      </tbody>
    </table>
    <br/>
  </div>
</div>
<div *ngIf="suscErrFlag==='ER'">Server Error</div>