<div class="header">
  <div class="titleDiv" routerLink="/home">
    <img class="titleImg" src="./assets/images/element.s-no-bg.png" />
  </div>
  <div class="menuDiv">
    <ul class="menuUL">
      <li class="menuLI">
        <a routerLink="/">Home</a>
      </li>
      <!-- <li class="menuLI">
        <a routerLink="/teams">Teams</a>
      </li> -->
      <li class="menuLI">
        <a routerLink="/about">About</a>
      </li>
    </ul>
  </div>
</div>

<img class="imgBG" src="./assets/images/element.s-logo-no-bg.png" />

<div class="router">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footer">Copyright 2018 © All Rights Reserved &nbsp;&nbsp;|&nbsp;&nbsp; developed by Siraj</div>
</footer>