.stnHdr{
    background: rgba(0,0,0,0.1);
    margin: 20px 20%;
    text-align: center;
    font-size: 32px;
}

.stnHdr2{
    text-align: center;
    font-size: 24px;
}

.stn{
    width: auto;
    text-align: left;
    cursor: default;
    /* height: 150px; */
    /* position: relative; */
  }

  .stnDiv{
    display: block;
    /* text-align: center; */
    margin: 0 8%;
    padding: 20px 0;
  }

.btn-stn{
    position: absolute;
    bottom: 20px;
}

.stn-table{
    /* border: 1px solid #999; */
}

.flag{
    height: 40px;
}

th, td{
    padding: 0 20px;
    height: 50px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

th{
    border-bottom: 3px solid rgba(255,255,255,0.2);
}

.team{
 /* cursor: pointer; */
}

.team:hover{
    /* font-weight: bold; */
}


.vs{
    font-size: 45px;
    font-weight: normal;
    display: block;
}

.compDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.comp{
    width: 80%;
    text-align: left;
    height: auto;
    position: relative;
    text-align: center;
  }

  .cd{
      font-size: 35px;
      color: #f1ff00; 
  }