.compHdr{
    text-align: center;
    font-size: 28px;
}

.comp{
    width: 80%;
    text-align: left;
    height: 150px;
    position: relative;
  }

.btn-comp{
    position: absolute;
    bottom: 20px;
}

.compDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
